<div class="container">
	<h1>Welcome, <%= current_user.name %>!</h1>

	<%= link_to "List all groups", groups_path, class: "btn btn-primary" %>
	<%= link_to "Create group", new_group_path, class: "btn btn-default" %>
</div>