<div class="container">
  <h1>Welcome, <%= current_user.name %>!</h1>


  <div>
    Application name here:
    <%= link_to "Request Instance", new_reservation_path, class: "btn btn-primary" %>
  </div>
<br><br><br> <!-- remove this later -->
    <h4> Reservations: </h4>
    reservation 1 - state - application name - time requested - ...
    <%= link_to image_tag("delete-icon.png"), reservation_path(0), data: {confirm: "Are you sure?" }, method: :delete %>

    <div>
      <% @reservations.each do |res| %>
        <p>
          Foo
        </p>
      <% end %>
    </div>

</div>
